html{
    background-color: azure;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header{
    border: 3px, solid, rgb(63, 139, 5);
    border-style: none;
    background-color: rgba(240,255,255,80%);
    padding: 10px;
}

.main{
    background-color: rgba(240,255,255,80%);
    padding: 10px;
}