html{
    background-color:rgb(250, 241, 218);
}

.wrapper{
    background-color: rgb(255, 255, 255);
    padding: 5 0 5 0;
}

.header{
    background-image: url("images/3-fruit.jpg");
    height: 300px;
}

.site-id{
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    border-top: 4px solid rgb(151,6,6);
}

.aside{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.main{
    padding: 10px;
}